<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html">
		<title>
            Highcharts Example
        </title>

        <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.css'%} " rel="stylesheet">
    <link href="{% static 'css/dashboard.css'%} " rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript">

    $(document).ready(function () {

        var options = {
            chart: {
                renderTo: 'container',
                type: 'line'

            },
            title: {
                text: 'Droupout rate vs Level of Education',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: www.edX.org',
                x: -20
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'Level of Education'
                },
                categories: [/*'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'*/]
            },
            yAxis: {
                title: {
                    text: 'Dropout Rate'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [/*{
                name: 'Tokyo',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }, {
                name: 'New York',
                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
            }, {
                name: 'Berlin',
                data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
            }, {
                name: 'London',
                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
            }*/]
        };

        $.get("{% static 'data/d2.csv' %}", function(data) {
				// Split the lines
				var lines = data.split('\n');
				$.each(lines, function(lineNo, line) {
					var items = line.split(',');

					// header line containes categories
					if (lineNo == 0) {
						$.each(items, function(itemNo, item) {
							if (itemNo > 0) options.xAxis.categories.push(item);
						});
					}

					// the rest of the lines contain data with their name in the first position

					else {
						var series = {
							data: []
						};
						$.each(items, function(itemNo, item) {
							if (itemNo == 0) {
								series.name = item;
							} else {
								series.data.push(parseFloat(item));
							}
						});

						options.series.push(series);
					}
				});
				var chart = new Highcharts.Chart(options);
			});
    });


    

		</script>
	</head>

    <body>

    <!-- HEADER -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/">Data Visualisation</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
    </div>

    <!-- SIDE PANEL -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/index/">Index Page</a></li>
            <li><a href="/stats1/">Statistics - I</a></li>
            <li><a href="/stats2/">Statistics - II</a></li>
            <li><a href="/stats3/">Statistics - III</a></li>
            <li><a href="/stats4/">Statistics - IV</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- BASE CSS ENDS HERE -->


        <div id="container" style="padding-top:2cm; width: 600px; height: 400px; margin: 0 auto"></div>


        <script src="{% static 'js/highcharts.js' %}"></script>
        <script src="{% static 'js/modules/exporting.js' %}"></script>


	</body>
</html>